lab11/src/test/resources/dataset.dtd

<!ELEMENT dataset (
    CAR*,
    PERSON*,
    PERSON_CAR*,
    UNICORN*,
    CITY*,
    CITY_UNICORN*)>

<!ELEMENT CAR EMPTY>
<!ATTLIST CAR
    ID CDATA #REQUIRED
    MAKE CDATA #IMPLIED
    MODEL CDATA #IMPLIED
    SOLD CDATA #IMPLIED
>

<!ELEMENT PERSON EMPTY>
<!ATTLIST PERSON
    ID CDATA #REQUIRED
    FIRSTNAME CDATA #IMPLIED
    PIN CDATA #REQUIRED
    REGISTRATIONDATE CDATA #IMPLIED
>

<!ELEMENT PERSON_CAR EMPTY>
<!ATTLIST PERSON_CAR
    CARS_ID CDATA #REQUIRED
    PERSON_ID CDATA #REQUIRED
>

<!ELEMENT UNICORN EMPTY>
<!ATTLIST UNICORN
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
>

<!ELEMENT CITY EMPTY>
<!ATTLIST CITY
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    ZIPCODE CDATA #REQUIRED
>

<!ELEMENT CITY_UNICORN EMPTY>
<!ATTLIST CITY_UNICORN
    UNICORNS_ID CDATA #REQUIRED
    CITIES_ID CDATA #REQUIRED
>